<div class="container">
    <div class=" mat-elevation-z8">
        <mat-table mat-table [dataSource]="dataSource">
                    
            <ng-container matColumnDef="Id">
                <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>
                  
            <!-- Name Column -->
            <ng-container matColumnDef="FullName">
                <mat-header-cell *matHeaderCellDef> FullName </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.full_name}} </mat-cell>
            </ng-container>
                  
            <!-- Weight Column -->
            <ng-container matColumnDef="ForksUrl">
                <mat-header-cell *matHeaderCellDef> ForksUrl </mat-header-cell>
                <mat-cell *matCellDef="let element"> <div> <span>{{element.forks_url}}</span>&nbsp;&nbsp;</div> </mat-cell>
            </ng-container>
                
                  
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getValue(row)"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 25, 30, 35, 40]"></mat-paginator> 
    </div> 
</div>

<style>
    .container {
        position: relative;
        margin: 2rem;
    }
</style>